// color
$linepay-color: rgb(176, 175, 175);
$divisor-color: rgba(176, 175, 175, 0.205);
$link-hover-color: #434343;
$primary: #ffffff;
$secondary: black;

// // Title
$title: (
  "small__title": 1.5rem,
  "medium__title": 2.1rem,
  "large__title": 3rem,
);
